.beautiful-title {
    font-size: 3rem;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.beautiful-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #3498db;
}

.image-container {
    float: right;
    margin-top: -50px;
    margin-left: 10px;
}

.meio{
    margin: 0 20px;
}

.H1CYAN {
    color: cyan;
}
