.beautiful-title {
    font-size: 3rem;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.beautiful-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #3498db;
}

.image-container {
    float: right;
    margin-top: -50px;
    margin-left: 10px;
}

 .centered-h1 {
            position: absolute;
            color: cyan;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
}

 .centered-h1v2 {
            position: absolute;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            top: 110%;
            left: 50%;
            transform: translate(-50%, -50%);
}

 .H1CYAN {
            position: absolute;
            color: cyan;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            top: 210%;
}

.centered-h1v3 {
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);